.posts-grid {
	.row {
		flex-wrap: wrap;
		margin-bottom: -2rem;
	}

	.post {
		align-items: stretch;
		display: flex;
		flex-direction: column;
		justify-content: stretch;
		min-height: 125px;
		margin-bottom: 2rem;


		div:not(:last-child) {
			padding-bottom: .5rem;
		}

		.text {
			border: 1px solid $tertiary;
			border-radius: 3px;
			color: inherit;
			height: 100%;
			padding: 2rem;
			text-align: center;
			text-decoration: none;
			text-transform: none;
			width: 100%;
			//margin: 2rem;

			> span {
				display: block;
			}

			.title {
				font-weight: 600;

				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}

		.image {
			img {
				max-width: 100%
			}
		}
	}
}
