.training-grid {
	> .wp-block-group {
		@include make-col-ready();
		@include make-col(12);

		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}

		@include media-breakpoint-up(md) {
			@include make-col(4);
		}

		p {
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 0;
			}
		}

		figure, iframe {
			min-height: auto;
			max-width: 100%;
			min-width: auto;
		}
	}
}