.wp-block-jg-resource {	
	background: $white;
	border: 1px solid $quarternary;
	border-radius: 3px;
	padding: 0.8rem 1rem;
	margin-bottom: 0.8rem;

	@include media-breakpoint-down(md) {
		padding: 0.8rem 0.5rem;
	}

	.label {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		position: relative;

		&:not(.collapsed) {
			button.btn {
				height: 0;
				margin: 0;
				padding: 0;
				opacity: 0;
			}
		}

		.btn {
			transition: height 0.4s, margin 0.1s, opacity 0.3s, padding 0.1s;
		}

		span {
			font-weight: 700;
		}

		.resource-sublabel {
			width: 100%;
		}

		@include media-breakpoint-down(md) {
			.btn {
				margin: 1rem auto 0;
				order: 3;
			}

			.resource-sublabel {
				margin: 1.75rem 0;
			}

			span, button, div {
				@include make-col(12);
			}
		}
	}

	.wp-block-button .wp-block-button__link {
		background: none;
		color: inherit;
		padding: 0 0 1rem;
		text-decoration: underline;
		text-transform: none;
	}

	figure {
		margin-top: 1.5rem;
		margin-bottom: 0;
	}

	figure.wp-block-embed, iframe {
		max-width: 100%;
		min-height: auto;
		min-width: auto;
	}
}
