.wp-block-jg-training-subblock {
	background: $white;
	border: 1px solid $quarternary;
	border-radius: 3px;
	padding: 0.8rem 1rem;
	margin-bottom: 0.8rem;

	@include media-breakpoint-down(md) {
		padding: 0.8rem 0.5rem;
	}

	.label {
		font-weight: 700;
	}
}
