@import "bootstrap/scss/carousel";
@import "bootstrap/scss/helpers/visually-hidden";

@import "content-visibility/style";

@import "page-heading/style";

@import "training/style";
@import "training-subblock/style";

@import "resource/style";

@import "member-complete/style";
@import "member-upload/style";

@import "post-carousel/style";
@import "post-grid/style";

@import "register/style";
@import "set-user-data/style";
@import "sign-in/style";
@import "profile/style";

.redirect-required {
	.wp-block-cover__inner-container.row {
		display: block;
	}
}