.wp-block-jg-training {
	.accordion-title {
		font-weight: 600;
		width: 100%;

		span {
			margin-right: 0.76rem;
		}
	}

	.text {
		background-color: $gray-100;
		color: $black;
		padding: 2rem;

		h4:not(:first-child) {
			margin-top: 2.5rem;
		}

		@include media-breakpoint-down(md) {
			padding: 1.5rem 0.75rem;
		}
	}

	table {
		margin-bottom: 0;
		color: $table-color;
		vertical-align: $table-cell-vertical-align;
		width: auto;

		tr:first-child {
			font-weight: 700;
		}

		td {
			border: 1px solid $tertiary;
			min-width: 1.5rem;
			padding: 0.5rem;
			text-align: center;
		}

		> tbody > tr:nth-of-type(even) {
			background-color: rgba($tertiary, 0.4);
		}

		> tbody > tr:hover {
			//background-color: $quarternary;
		}
	}

	a:not(.btn) {
		color: inherit;
		text-transform: none;
	}

	.accordion-title {
		background: $gray-900;
		color: $white;
		padding: 1rem 1.5rem;

		&.collapsed {
			.fa-circle {
				color: $tertiary;
			}
		}
	}
	
	&:first-child .accordion-title {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}

	&:last-child .accordion-title {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	div &:not(:last-child) {
		border-bottom: 1px solid $tertiary;
	}
}

